<ion-view view-title="亦书云印">
    <ion-nav-bar class="bar-calm" align-title="center">
    </ion-nav-bar>
    <ion-content>
        <form name="printForm">
            <ion-list>
                <label class="item item-input item-select">
                    <div class="input-label">
                        选择亦书商家
                    </div>
                    <select ng-model="selected" ng-options="s.name as s.name for s in sellers" required>
                    </select>
                </label>

                <div class="item item-input">
                    <span class="input-label">选择文件</span>
                    <input type="text" readonly ng-model="tips">
                    <input type="file" class="input-file" fileread="fs" required>
                </div>
                <ion-item class="item-divider">文件详情(请到电脑端获得更加体验)</ion-item>
                <ion-item ng-repeat="file in fs" class="item item-avatar fileList">
                    <img ng-src="{{file.type | tton}}">

                    <h2>{{file.name}}</h2>
                    <p>{{info.color}}&nbsp;{{info.doublepage}}&nbsp;{{info.yasuo}}&nbsp;{{info.num}}份</p>
                    <span class="button button-clear button-small button-assertive">个性设置:</span>
                    <a class="button button-clear button-small button-calm" es-color="info.color">彩色</a>
                    <a class="button button-clear button-small button-calm" es-doublepage="info.doublepage">双面</a>
                    <a class="button button-clear button-small button-calm" es-yasuo="info.yasuo">压缩</a>
                    <input type="number" placeholder="份数" ng-model="info.num"><span class="eslabel">份</span>
                    <ion-option-button class="button-assertive" ng-click="showMsg()">
                        删除
                    </ion-option-button>
                </ion-item>
            </ion-list>
            <div class="list padding-top">
                <div class="item item-input">
                    <textarea placeholder="给商家留言吧..."></textarea>
                </div>
                <label class="item item-input item-select">
                    <span class="input-label">选择配送时间</span>
                    <select>
                        <option>12:00</option>
                        <option>18:00</option>
                        <option selected>到店自取</option>
                    </select>
                </label>
            </div>
            <button type="submit" ng-click="submit()" class="button button-assertive button-block">
                确认提交
            </button>
        </form>
    </ion-content>
</ion-view>
