<ion-view view-title="注册">
    <ion-nav-bar class="bar-calm" align-title="center">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-ios-arrow-left"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <form name="registerForm" ng-submit="submit();">
            <div class="list">
                <label class="item item-input item-icon-right" ui-sref="tabs.schools">
                    <span class="input-label">学校</span>
                    <input type="text" ng-model="reg.school" name="school" readonly placeholder="点我选择学校" required>
                    <i class="icon ion-ios-arrow-right"></i>
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="reg.phone" name="phone" maxlength="11" placeholder="输入手机号码" es-phone="reg.phone" required>
                </label>
                <span ng-click="telcode();" class="button button-clear button-small getCode"
                      ng-disabled="isDisabled" ng-bind="yzmtext">发送验证码</span>
                <!--<i class="icon ion-ios-arrow-right"></i>-->

                <label class="item item-input item-icon-right">
                    <span class="input-label">验证码</span>
                    <input type="text" maxlength="6" name="checkcode" send-id="{{send_id}}" ng-model="reg.checkcode" placeholder="输入验证码" required ng-blur="checkcode()">
                    <i class="icon ion-ios-close-empty yzmfalse" ng-if="checkfal"></i>
                    <i class="icon ion-ios-checkmark-empty yzmok" ng-if="checkok"></i>
                </label>
                <div class="item item-input item-icon-right">
                    <span class="input-label">密码</span>
                    <input type="{{typeofpwd}}" ng-model="reg.pwd" name="pwd" placeholder="输入密码" required>
                    <i class="icon ion-ios-eye-outline" ng-click="look()" ng-if="unlooks"></i>
                    <i class="icon ion-ios-eye" ng-click="unlook()" ng-if="looks"></i>
                </div>
                <button type="submit" class="button button-calm button-block" ng-disabled="registerForm.$invalid">注册</button>
            </div>
        </form>
    </ion-content>
</ion-view>
<!--<ion-view view-title="省份">-->
<!--<ion-content>-->
<!--<ion-list>-->
<!--<ion-item ng-repeat="province in provinces" class="item-icon-right" ng-click="goCitys(province)">-->
<!--<h2>{{province}}</h2>-->
<!--<i class="icon ion-ios-arrow-right"></i>-->
<!--</ion-item>-->
<!--</ion-list>-->
<!--</ion-content>-->
<!--</ion-view>-->

